@import "variables"
@import "header"
@import "footer"
@import "banner"
@import "partners"
@import "buttons"
@import "shop"
@import "help-promo"

@font-face
  font-family: 'Century Gothic'
  src: url("../fonts/11528.ttf") format('truetype')
  font-weight: normal
  font-style: normal

body, html
  font-family: Century Gothic !important

.container
  width: 1280px
  height: inherit
  margin: 0 auto
  @media screen and (max-width: 1280px)
    width: 100%
    padding: 0 10px
.active
  color: $red
